
# Environment files for security
.env
*.env

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Virtual environments
venv/
env/
.venv/

# Misc temporary files
*.bak
*.tmp

data/

*.mp4